.shop__banner {
  height: 200px;
  background: url("../../../images/shop-banner.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
