.product {
  .product__container {
    margin: 0.9em;
    background-color: white;
    box-shadow: 2px 2px 6px 0px black;

    img {
      margin: 0.5em;
      min-width: 150px;
    }

    .product__content {
      padding: 1em;
      .btn {
        font-weight: 800;

        &:hover {
          color: white;
          background-color: rgb(0, 123, 255);
        }
      }

      .product__info {
        width: 100%;
        h5 {
          font-weight: 600;
          font-size: 1em;
        }

        strong {
          font-weight: 900;
          font-size: 1.5em;
          color: rgb(5, 18, 94);
        }

        p {
          font-weight: 300;
          font-style: italic;
          color: rgb(0, 123, 255);
        }
      }
    }
  }
}
