.flex-sm-column {
  background-color: rgb(2, 64, 131) !important;
  height: auto !important;

  .nav-link {
    color: white !important;

    &.active {
      color: red;
    }
  }
}

@media (max-width: 576px) {
  .flex-sm-column {
    justify-content: center !important;
    font-size: 0.87rem !important;
  }
}
