.paint {
  // Make the items responsive with flexbox
  // height: auto;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 80vw;
  margin: 0 auto;
}
