.footer {
  height: 200px;
  background-color: rgb(0, 123, 255);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .footer__section {
    display: flex;
    align-items: center;
  }

  .footer__contact {
    padding: 20px;
  }
}
