.checkout__form {
  margin: 20px;
  padding: 20px;
  height: 400px;
  box-shadow: 2px 2px 6px 0px black;

  p {
    font-size: 3em;
    font-weight: 800;
  }

  .btn {
    background-color: green;
    color: white;
    padding: 20px;

    &:hover {
      background-color: salmon;
    }
  }
}
