.checkout__product {
  display: flex;
  padding: 18px;
  justify-content: space-between;
  align-items: center;

  .checkout__content {
    margin: 40px;
    h4 {
      font-size: 1em;
    }

    strong {
      font-size: 2.5em;
    }
  }
  .remove__button {
    padding: 5px;
    background: rgb(212, 46, 62);
    color: white;
  }
}

@media (max-width: 585px) {
  .checkout__product {
    flex-direction: column;
  }
}
